# Dependencias y builds
node_modules/
dist/
build/
.output/
.cache/
coverage/
.nitro/
.nuxt/

# Logs
*.log*
.eslintcache

# Archivos temporales del sistema
.DS_Store
**/.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.*
!.env.example
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# Otros
api-generator/typedoc.json
